.footer__copyright {
  margin: 0 0 0 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  cursor: default;
}

@media all and (max-width: 425px) {
  .footer__copyright {
    margin: 0;
  }
}
