.header__langs {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 18px;
  padding: 0;
  margin: 18px 0 0;
}

@media all and (max-width: 425px) {
  .header__langs {
    margin-top: 14px;
  }
}
