.cover__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  top: 0;
  bottom: 0;
  z-index: 2;
}
