.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 auto 64px;
  text-align: center;
  font-weight: 400;
}

@media all and (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.9vw;
    max-width: 83%;
  }
}

@media all and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    margin-bottom: 40px;
  }
}
